<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios" class="apple-tab-bar">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nutricion">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Nutrición</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-rutina">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progreso">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" routerLink="/entreno/chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
      
      <ion-badge color="danger" *ngIf="mensajesSinLeer > 0">
        {{ mensajesSinLeer }}
      </ion-badge>
      
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>